# .gitignore

__pycache__
.idea
calcul utilités données
__init__.py
CstesModus_initiaux.py
em_hps_2012.sas7bdat
em_hpm_2012.sas7bdat
EM_PPM.csv
Modus_2b.py
130523_ZONE_COMMUNE.txt
Outils.py
README.md
analyse_moyennes_colonnes.csv
bdinter2012.sas7bdat
bdinter2012.zip
C_Modus.py
brouillons.sas
CstesModus.yml
Prepare_Data.py
4 Etapes
Other files
Fichiers de validation 17_09_21
gui_brouillons.py
Paris.jpg
Paris.txt
Test.txt
eiffel tower.jpg
Copie de work
